/java_db/nbproject/private/
/java_db/build/
/programming_asg_proj/nbproject/private/
/hospital/nbproject/private/
/hospital/build/
/java_h2_db/nbproject/private/
/java_h2_db/build/
/programming_takeHome/nbproject/private/
/hospital/dist/
/justStuff/nbproject/private/
/justStuff/build/